/* Estilos para o container */
section .container {
    display: flex; /* Usa o modelo de layout flexível */
    margin-bottom: 60px; /* Margem inferior */
    flex-direction: column; /* Organiza os elementos filhos em coluna */
    align-items: center; /* Alinha os itens centralmente */
    max-width: 1280px; /* Largura máxima do contêiner */
    width: 100%; /* Largura total */
    margin: 0; /* Zera as margens */
}

/* Estilos para a seção 'resultados' */
.resultados {
    color: white; /* Cor do texto */
    background-color: rgb(48, 132, 163); /* Cor de fundo */
    width: 100%; /* Largura total */
    align-items: center; /* Alinha os itens centralmente */
    display: flex; /* Usa o modelo de layout flexível */
    flex-direction: column; /* Organiza os elementos filhos em coluna */
    padding: 25px 50px; /* Preenchimento interno */
    margin: 10px 0; /* Margem externa */
}

/* Estilos para a classe 'graficos' */
.graficos {
    margin: 25px 0; /* Margem superior e inferior */
}

/* Estilos para todas as imagens */
img {
    max-width: 450px; /* Largura máxima da imagem */
}

/* Estilos para a classe 'valores' */
.valores {
    color: white; /* Cor do texto */
    font-size: 2em; /* Tamanho da fonte */
}

/* Estilos para os IDs 'acerto' e 'erro' dentro da classe 'valores' */
.valores #acerto {
    color: rgb(54, 235, 54); /* Cor do texto para acertos */
    font-weight: bolder; /* Define a espessura da fonte */
}

.valores #erro {
    color: rgb(250, 38, 38); /* Cor do texto para erros */
    font-weight: bolder; /* Define a espessura da fonte */
}

/* Estilos para todas as células de tabela */
td {
    padding: 5px 20px; /* Preenchimento interno */
}

/* Estilos para os botões dentro da classe 'acoes' */
.acoes button {
    border: none; /* Remove a borda */
    cursor: pointer; /* Altera o cursor para indicar interatividade */
    padding: 10px 40px; /* Preenchimento interno */
    margin: 15px 10px; /* Margem */
}

/* Efeito hover e foco nos botões da classe 'acoes' */
.acoes button:hover,
.acoes button:focus {
    background-color: #8EBDF3; /* Cor de fundo ao passar o mouse ou focar */
    box-shadow: 0 5px .8rem rgba(0, 0, 0, 0.3); /* Sombra ao passar o mouse ou focar */
}

/* Estilos para a lista não ordenada com ID 'selecao-graph' */
#selecao-graph {
    width: 80%; /* Largura */
    height: 120px; /* Altura */
    display: flex; /* Usa o modelo de layout flexível */
    justify-content: center; /* Centraliza horizontalmente */
    flex-wrap: wrap; /* Permite que os elementos filhos quebrem a linha */
}

/* Estilos para os itens da lista dentro de 'selecao-graph' */
#selecao-graph li {
    list-style: none; /* Remove os marcadores de lista */
    padding-top: 20px; /* Preenchimento superior */
}

/* Estilos para os botões dentro de 'selecao-graph' */
#selecao-graph button {
    width: 42px; /* Largura */
    height: 45px; /* Altura */
    border: none; /* Remove a borda */
    cursor: pointer; /* Altera o cursor para indicar interatividade */
    padding: 5px 15px; /* Preenchimento interno */
    margin: 2px 5px; /* Margem */
}

/* Estilos para a seção 'graficos' */
#graficos {
    padding-top: 50px; /* Preenchimento superior */
}

/* Efeito hover e foco nos botões dentro de 'selecao-graph' */
#selecao-graph button:hover,
#selecao-graph button:focus {
    background-color: #8EBDF3; /* Cor de fundo ao passar o mouse ou focar */
    box-shadow: 0 5px .8rem rgba(0, 0, 0, 0.3); /* Sombra ao passar o mouse ou focar */
}

/* Estilos para os cabeçalhos de nível 2 */
h2 {
    margin: 20px; /* Margem externa */
}

/* Estilos para a classe 'fonteAutores' */
.fonteAutores {
    margin-bottom: 30px; /* Margem inferior */
}