section .container{
    display: flex;
    margin-bottom: 60px;
    flex-direction: column;
    align-items: center;

    max-width: 1280px;
    width: 100%;
    margin: 0;
}

.resultados{
    color: white;
    background-color: rgb(48, 132, 163);
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;

    padding: 25px 50px;
    margin: 10px 0;
}

.graficos{
    margin: 25px 0;
}


img{
    max-width: 450px;
}

.valores{
    color: white;
    font-size: 2em;
}

.valores #acerto{
    color: rgb(54, 235, 54);
    font-weight: bolder;
}

.valores #erro{
    color: rgb(250, 38, 38);
    font-weight: bolder;
}

td{
    padding: 5px 20px;
}

.acoes button{
    border: none;
    cursor: pointer;
    padding: 10px 40px;
    margin: 15px 10px;
}

.acoes button:hover,
.acoes button:focus{
    background-color: #8EBDF3;
    box-shadow: 0 5px .8rem rgba(0, 0, 0, 0.3);
}

.acoes button:active{
    background-color: #df7631;
    box-shadow: inset 0 5px 1rem rgba(0, 0, 0, 0.219);
}

#selecao-graph{
    width: 80%;
    height: 120px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


#selecao-graph button{
    width: 42px;
    height: 45px;

    border: none;
    cursor: pointer;
    padding: 5px 15px;
    margin: 2px 5px;
}

#selecao-graph button:hover,
#selecao-graph button:focus{
    background-color: #8EBDF3;
    box-shadow: 0 5px .8rem rgba(0, 0, 0, 0.3);
}

#selecao-graph button:active{
    background-color: #df7631;
    box-shadow: inset 0 5px 1rem rgba(0, 0, 0, 0.219);
}